.jumbotron
  h1 Coding Dojo AngularJS
  p.lead
    | Este projeto é um workspace para Coding Dojos de AngularJS
.row.marketing
  .col-lg-12
    h2 Problemas
  .col-lg-6
    h4 Saque
    p
      | Desenvolva um programa que simule a entrega de notas quando um cliente efetuar um saque em um caixa eletrônico
    a.btn.btn-primary(ui-sref="saque") Veja mais